<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title><%= name %></title>
    <!--<script type="text/javascript" src="https://webapi.amap.com/subway?v=1.0&key=cf6d959f52f99f43f74a65a04ca18f2a"></script>-->
    <!--<script src="http://wwlocal.qq.com/js/sso/wwLogin-1.0.0.js"></script>-->
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <!--<script
      charset="utf-8"
      src="https://map.qq.com/api/js?v=2.exp&key=DQBBZ-JOI33-WYQ3U-3FGVS-3BQU3-GYFPC"
    ></script>-->
    <!--高德地图-->
    <!--<script src="https://webapi.amap.com/maps?v=1.4.15&key=cf6d959f52f99f43f74a65a04ca18f2a&plugin=AMap.Transfer,AMap.LineSearch,ElasticMarker,AMap.Geocoder,AMap.Weather"></script>-->
    <!-- 高德UI组件引入 -->
    <!--<script src="https://webapi.amap.com/ui/1.1/main-async.js"></script>-->
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
